.container {
  margin: 20% auto;
  width: 50%;
  height: 75%;
  border-color: black; 
  display: grid;
  grid-template-areas: 1fr 1fr 1fr 1fr;
}



.buttonz {
  display: flex;
}

button { 
 background-color: aqua;
}

div#result {
  
}